body {
  min-height: 100vh;
  width: 100vw;
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}

canvas {
  background: #f8f8f8;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

.center {
  text-align: center;
}

.player1 {
  border-color: blue;
}

.player2 {
  border-color: red;
}
