body {
  min-height: 100vh;
  width: 100vw;
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}

canvas {
  background: #f8f8f8;
  border: black solid;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

.center {
  text-align: center;
}

.p1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  color: red;
}

.p2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  color: blue;
}
